.sub-header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: $wt-white;
    background: rgba(28, 41, 78, 1);
    a, a:hover {
    	text-decoration: none;
    	color: $wt-white;
    }
}
.dashboar-main {
	padding: 10px;
}