aside {
    width: 15%;
    height: 850px;
    background-color: #254152;
    color: #ffffff;
    float: left;
    font-size: 14px;
    ul {
        list-style-type: none;
        padding: 0;
        .title {
            opacity: 0.87;
            font-family: Roboto;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: -0.1px;
            text-align: justify;
            color: #ffffff;
            margin: 1em 0;
        }
        li {
            opacity: 0.87;
            font-family: Roboto;
            font-size: 14px;
            letter-spacing: -0.1px;
            text-align: justify;
            padding: .4em 2em;
            a{
                color: #ffffff;
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            &:hover {
                border-left: 3px solid #ea516d;
            }
        }
        .active {
            border-left: 3px solid #ea516d;
            background: #406073;
        }
    }
}
.dashboard-container {
    width: 85%;
    min-height: 850px;
    float: right;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #efefef;
}

.box-chat {
    width: 100%;
    min-height: 34em;
    background: #eee;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 #dadada;
    position: relative;
    .box-chat-body {
        width: 100%;
        padding: 1em;
        overflow-y: scroll;
        height: 30em;
    }
    .box-chat-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 0.5em;
        label {
            cursor: pointer;
            margin: 0 0.4rem;
        }
        input {
            width: 95%;
            padding: 0.5em;
            border: 1px solid #dadada;
            background: $wt-white;
        }
    }
}