@import "//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css";
.body-dashboard {
    background-color: #f8f8f8;
}
.header-dashboard {
    width: 85%;
    height: 60px;
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    float: right;
    margin-bottom: .3em;
    .header-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .actions {
            padding: 5px;
            margin-left: auto;
            ul {
                list-style: none;
                li {
                    float: left;
                    padding: 1em;
                    text-decoration: none;
                    
                    @include mobile {
                        &:first-child {
                            display: none;
                        }   
                    }   
                    .actions__options, &:hover, &:focus {
                        color: #333;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
            a, a:hover {
                color: #333;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }
}
.aside-dashboard {
    width: 15%;
    height: 114%;
    background-color: #254152;
    color: #ffffff;
    float: left;
    font-size: 14px;
    .header-aside {
        @include desktop {
            padding: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        }
        @include mobile {
            padding: 1.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            .title-aside-dash {
                display: none;
            }
        }
    }
    .user-aside {
        @include desktop {
            padding: 2em;
            &__image {
                width: 50px;
                margin-bottom: 1em;
            }
            &__name {
                opacity: 0.87;
                font-family: NotoSerif;
                font-size: 14px;
                font-style: italic;
                letter-spacing: -0.1px;
                text-align: justify;
                color: #f6f6f6;
            }
        }
        @include mobile {
            display: none;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        @include desktop {
            .title {
                font-family: Roboto;
                font-size: 13px;
                letter-spacing: -0.1px;
                text-align: justify;
                color: #f6f6f6;
            }
            li {
                padding: .7em 2em;
                font-family: Roboto;
                font-size: 13px;
                letter-spacing: -0.1px;
                text-align: justify;
                color: #f6f6f6;
                .list-dashboard-desktop {
                    a{
                        color: #f6f6f6;
                        margin-left: 1em;
                        &:hover {
                            color: #f6f6f6;
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        background-color: #405968;
                    }
                }
                .list-dashboard-mobile {
                    display: none;
                }
            }
            .active {
                background-color: #405968;
            }
        }
        @include mobile {
            .title {
                display: none;
            }
            li {
                padding: .7em 2em;
                font-family: Roboto;
                font-size: 13px;
                letter-spacing: -0.1px;
                text-align: justify;
                color: #f6f6f6;
                .list-dashboard-desktop {
                    display: none;
                }
                .list-dashboard-mobile {
                    display: flex;
                    justify-content: center;
                }
            }
            .active {
                background-color: #405968;
            }
        }
    }
}
.main-dashboard {
    height: 1050px;
}
.dashboard-container {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
    .dashboard-header {
        @include desktop {
            padding: 1em 5em;
            background-color: #efefef;
            h2 {
                color: #191919;
                opacity: 0.87;
            }
        }
        @include mobile {
            padding: 1em;
            background-color: #efefef;
            h2 {
                color: #191919;
                opacity: 0.87;
            }
        }
    }
    .dashboard-body {
        width: 100%;
        .mensajes-alert {
            background-color: rgba(252, 233, 237, 0.87);
            padding: 1em;
            font-family: Roboto;
            font-size: 11px;
            font-weight: 500;
            font-style: italic;
            letter-spacing: -0.1px;
            text-align: left;
            color: rgba(66, 66, 66, 0.87);
        }
    }
    .aside-propuesta {
        width: 40%;
        float: right;
    }
    .main-container {
        width: 800px;
        margin: 0 auto;
        padding: 2em 0;
    }
    .box-expacio {
        @include desktop {
            width: 100%;
            height: 160px;
            margin-bottom: 2em;
            padding: 5px;
            display: -webkit-box;
            display: flex;
            background-color: #f8f8f8;
            position: relative;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            .image-espacio {
                width: 23%;
            }
            .detalle-espacio {
                padding: 2em;
                width: 77%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__title {
                    h3 {
                        margin: 0;
                    }
                    a {
                        margin: 0 1em;
                    }
                    i {
                        color: #333333;
                        opacity: 0.17;
                    }
                }
                ul {
                    color: $wt-primary-pig;
                    margin-top: 1em;
                    font-family: Roboto;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
        @include mobile {
            width: 100%;
            height: auto;
            background-color: #f8f8f8;
            margin: .5em 0 auto;
            padding: 5px;
            display: flex;
            flex-direction: column;
            .image-espacio {
                width: 100%;
            }
            .detalle-espacio {
                padding: 1em;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__title {
                    h3 {
                        margin: 0;
                    }
                    a {
                        margin: 0 1em;
                    }
                    i {
                        color: #333333;
                        opacity: 0.17;
                    }
                }
                ul {
                    color: $wt-primary-pig;
                    margin-top: 1em;
                }
            }
        }
    }
}
.propuesta-datos {
    padding: 1em 2em;
    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
    }
}
.dashboard-btn-primary {
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background-color: $wt-primary-pig;
    border: none;
    color: #fff;
    &:hover {
        background-color: $wt-primary-pig;
    }
}
.dashboard-btn-transparent {
    background: #fff;
    border: none;
    padding: 1em;
    &:hover {
        color: $wt-primary-pig;
    }
}
.avatar {
    padding: 5em;
    display: flex;
    flex-direction: column;
    img {
        width: 120px;
    }
    label {
        border-radius: 2px;
        border: solid 1px $wt-primary-pig;
        opacity: 0.87;
        font-family: Avenir Bold Medium;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.1px;
        color: $wt-primary-pig;
        padding: 1em;
        cursor: pointer;
        width: 110px;
        text-align: center;
        margin-top: 1em;
        &:hover {
            background-color: $wt-primary-pig;
            color: #fff;
        }
    }
}
.dashboard-title {
    opacity: 0.87;
    font-family: Avenir Bold Medium;
    font-size: 18px;
    font-weight: 500;
    color: #191919;
}
.box-resumen {
    border: 1px solid #dadada;
    &__body {
        padding: 2em;
        display: flex;
        flex-direction: column;
        ul {
            margin-left: 2em;
        }
        &__precios {
            display: flex;
            flex-direction: column;
        }
    }
}