#home-espacio {
  position: relative;
}
#map-espacio {
  width: 620px;
  height: 300px;
}
.home-espacio-header {
  background-position: center;
  background-repeat: no-repeat;
  font-family: Poppins;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 1em;
  &__boton {
    width: 99px;
    height: 36px;
    opacity: 0.87;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    font-size: 13px;
    font-weight: 500;
    color: #212121;    
    margin: 400px 0 0 100px;
    &:hover {
      background-color: #212121;
      border: 1px solid #212121;
      color: #ffffff;
    }
  }
}
.box-reserva {
  font-family: Poppins;
  width: 338px;
  height: auto;
  background-color: #f8f8f8;
  border: solid 1px #545454;
  position: absolute;
  right: 148px;
  top: 450px;
  &__header {
    width: 100%;
    height: 50px;
    background-color: rgba(32, 32, 32, 0.87);
    padding: 3px 16px;
    input[type=date] {
      padding: 1em;
    }
    &__desde {
      margin: 0;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ffffff;
    }
    &__price {
      display: flex;
      align-items: baseline;
      .price {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -0.1px;
        text-align: right;
        color: #ffffff;
      }
      .minhours {
        margin: 0 0 0 16px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-align: justify;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  &__body {
    padding: 16px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #212121;
    label {
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #212121;
    }
    .agregar-fecha {
      width: 75px;
      height: 14px;
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ea516d;
      cursor: pointer;
    }
    .list-dates {
      padding: 0;
      border: none;display: flex;
      justify-content: space-between;
    }
    .messageError {
      margin: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1em;
      background: rgba(234, 81, 109, 0.87);
      color: #fff;
      border-radius: 2px;
      border: 1px solid #ea516d;
      p {
        margin: 0;
      }
    }
  }
}
.box-reserva--active {
  font-family: Poppins;
  width: 338px;
  height: auto;
  background-color: #efefef;
  border: solid 1px #979797;
  position: fixed;
  right: 148px;
  top: 10%;
  &__header {
    width: 100%;
    height: 50px;
    background-color: rgba(32, 32, 32, 0.87);
    padding: 3px 16px;
    input[type=date] {
      padding: 1em;
    }
    &__desde {
      margin: 0;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ffffff;
    }
    &__price {
      display: flex;
      align-items: baseline;
      .price {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -0.1px;
        text-align: right;
        color: #ffffff;
      }
      .minhours {
        margin: 0 0 0 16px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-align: justify;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  &__body {
    padding: 16px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #212121;
    label {
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #212121;
    }
    .agregar-fecha {
      width: 75px;
      height: 14px;
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ea516d;
      cursor: pointer;
    }
    .list-dates {
      padding: 0;
      border: none;
    }
    .messageError {
      margin: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1em;
      background: rgba(234, 81, 109, 0.87);
      color: #fff;
      border-radius: 2px;
      border: 1px solid #ea516d;
      p {
        margin: 0;
      }
    }
  }
}
.home-espacio-body {
  width: 960px;
  margin: 0 auto;
  .center-title {
    display: flex;
    align-items: baseline;
    .title {
      opacity: 0.87;
      font-family: NotoSerif;
      font-style: italic;
      letter-spacing: -0.2px;
      text-align: justify;
      color: #212121;
    }
    .verified {
      margin-left: 16px;
      color: #ea516d;
      width: 18px;
      height: 22px;
    }
    .noverified {
      margin-left: 16px;
      color: #dadada;
      width: 18px;
      height: 22px;
    }
  }
  .direccion {
    opacity: 0.54;
    font-family: Roboto;
    font-size: 12px;
    color: #212121;
  }
  .box-descripcion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4em 0;
    &__titulo {
      width: 140px;
      height: auto;
      opacity: 0.87;
      font-family: NotoSerif;
      font-size: 14px;
      font-style: italic;
      letter-spacing: -0.1px;
      color: #212121;
      border-right: 1px solid #dadada;
    }
    &__contenido {
      width: 436px;
      height: auto;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #888b8d;
      margin-left: 23px;
      word-wrap: break-word;
      .price {
        color: #212121;
        font-size: 19px;
      }
      .min-hours {
        color: #191919;
        font-size: 11px;
      }
      &__separador {
        width: 250px;
        margin: 0px;
        border-top: 1px dashed #eeeeee;
      }
    }
  }
  .box-amenities {
    width: 572px;
    text-align: center;
    margin-bottom: 40px;
    color: #212121;
    &__title {
      opacity: 0.87;
      font-family: NotoSerif;
      font-size: 14px;
      font-style: italic;
      letter-spacing: -0.1px;
      text-align: justify;
    }
    i {
      color: #ea516d;
    }
    span {
      opacity: 0.54;
    }
  }
  .box-access {
    width: 572px;
    margin-bottom: 40px;
    color: #212121;
    &__title {
      opacity: 0.87;
      font-family: NotoSerif;
      font-size: 14px;
      font-style: italic;
      letter-spacing: -0.1px;
      text-align: justify;
    }
    i {
      color: #ea516d;
    }
    span {
      opacity: 0.54;
    }
  }
}
.btn-reserva {
  font-family: Poppins;
  width: 100%;
  min-width: 103px;
  min-height: 40px;
  padding: 1em;
  border-radius: 2px;
  background-color: #ea516d;
  border: 1px solid #ea516d;
  color: $wt-white;
  font-size: 14px;
  &:hover {
    background-color: rgba(234, 81, 109, 0.87);
  }
}
.btn-reserva-transparent {
  font-family: Poppins;
  width: 100%;
  min-width: 103px;
  min-height: 40px;
  padding: 1em;
  border-radius: 2px;
  color: #545454;
  font-size: 14px;
  border: solid 1px #545454;
  background-color: transparent;
  &:hover {
    background-color: rgba(84, 84, 84, 0.87);
    color: $wt-white;
  }
}