#home-espacio {
  position: relative;
}
#adminApp {
  background-color: #f9f9f9;
}
#map-espacio {
  height: 300px;
  @include desktop {
    width: 620px;
  }
  @include mobile {
    width: 100%
  }
}
.home-espacio-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  width: 100%;
  @include desktop {
    height: 500px;
    &__boton {
      width: 99px;
      height: 36px;
      opacity: 0.87;
      border-radius: 2px;
      background-color: $wt-white;
      border: 1px solid $wt-white;
      font-size: 12px;
      font-weight: 500;
      color: $wt-primary-grey;
      margin: 400px 0 0 100px;
      &:hover {
        background-color: $wt-primary-pig;
        border: 1px solid $wt-primary-pig;
        color: #ffffff;
      }
    }
  }
  @include mobile {
    height: 270px;
    &__boton {
      display: none;
    }
  }
}
.box-reserva {
  transition: none;
  @include mobile {
    display: none !important;
  }
  font-family: Avenir Bold Medium;
  width: 338px;
  height: auto;
  background-color: #f8f8f8;
  border: solid 1px #545454;
  position: absolute;
  right: 148px;
  top: 450px;
  &__header {
    width: 100%;
    height: 49px;
    background-color: #545454;
    padding: 4px 16px;
    input[type=date] {
      padding: 1em;
    }
    &__desde {
      margin: 0;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ffffff;
    }
    &__price {
      display: flex;
      align-items: baseline;
      .price {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -0.1px;
        text-align: right;
        color: #ffffff;
      }
      .minhours {
        margin: 0 0 0 16px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-align: justify;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  &__body {
    padding: 16px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #212121;
    label {
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: 0px;
      text-align: justify;
      color: #212121;
      font-weight: 500
    }
    .agregar-fecha {
      width: 75px;
      height: 14px;
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: $wt-primary-pig;
      cursor: pointer;
    }
    .list-dates {
      padding: 0;
      border: none;display: flex;
      justify-content: space-between;
    }
    .precio-estimado {
      font-family: Noto serif;
      font-style: italic;
      font-weight: 600;
      font-size: 16px;
    }
    .iva-no-incluido {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-size: 10px;
    }
  }
}
.box-reserva--active {
  transition: none;
  font-family: Avenir Bold Medium;
  width: 338px;
  height: auto;
  background-color: #efefef;
  border: solid 1px #979797;
  position: fixed;
  right: 148px;
  top: 10%;
  &__header {
    width: 100%;
    height: 50px;
    background-color: rgba(32, 32, 32, 0.87);
    padding: 3px 16px;
    input[type=date] {
      padding: 1em;
    }
    &__desde {
      margin: 0;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ffffff;
    }
    &__price {
      display: flex;
      align-items: baseline;
      .price {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -0.1px;
        text-align: right;
        color: #ffffff;
      }
      .minhours {
        margin: 0 0 0 16px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-align: justify;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  &__body {
    padding: 16px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #212121;
    label {
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #212121;
    }
    .agregar-fecha {
      width: 75px;
      height: 14px;
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: $wt-primary-pig;
      cursor: pointer;
    }
    .list-dates {
      padding: 0;
      border: none;
    }
    .messageError {
      margin: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1em;
      background: rgba(234, 81, 109, 0.87);
      color: #fff;
      border-radius: 2px;
      border: 1px solid $wt-primary-pig;
      p {
        margin: 0;
      }
    }
  }
}
.center-title {
  display: flex;
  align-items: baseline;
  .title {
    opacity: 0.87;
    font-family: NotoSerif;
    font-style: italic;
    letter-spacing: -0.2px;
    text-align: justify;
    color: #212121;
  }
  .title-m-top-7 {
    opacity: 0.87;
    font-family: NotoSerif;
    font-style: italic;
    letter-spacing: -0.2px;
    text-align: justify;
    color: #212121;
    margin-top: 70px;
  }
  .verified {
    margin-left: 16px;
    color: $wt-primary-pig;
    width: 18px;
    height: 22px;
  }
  .noverified {
    margin-left: 16px;
    color: #dadada;
    width: 18px;
    height: 22px;
  }
}
.direccion {
  opacity: 0.54;
  font-family: Roboto;
  font-size: 12px;
  color: #212121;
}
.box-descripcion {
  display: flex;
  justify-content: flex-start;
  @include desktop {
    flex-direction: row;
    margin: 4em 0;
  }
  @include mobile {
    flex-direction: column;
    margin: 2em 0;
    width: 100%;
  }
  &__titulo {
    width: 12em;
    height: auto;
    font-size: 14px;
    color: #212121;
    text-transform: uppercase;
    @include desktop {
      border-right: 1px solid #dadada;
    }
    span {
      float: right;
      margin-right: 1.5em;
    }
  }
  &__contenido {
    height: auto;
    font-size: 14px;
    text-align: justify;
    color: #666666;
    word-wrap: break-word;
    width: 100%;
    @include desktop {
      margin-left: 23px;
    }
    .container-prices {
      display: flex;
      margin-bottom: 1em;
    }
    .price {
      color: #212121;
      font-size: 18px;
    }
    .min-hours {
      color: #666666;
      font-size: 14px;
    }
    &__separador {
      margin: 0px;
      border-top: 1px dashed #eeeeee;
      @include desktop {
        width: 240px;
      }
      @include mobile {
        width: 140px;
      }
    }
  }
}
.box-amenities {
  @include desktop {
    width: 572px;
  }
  @include mobile {
    width: 100%;
  }
  text-align: center;
  margin-bottom: 40px;
  color: #212121;
  &__title {
    opacity: 0.87;
    font-family: NotoSerif;
    font-size: 14px;
    font-style: italic;
    letter-spacing: -0.1px;
    text-align: justify;
  }
  i {
    color: $wt-primary-pig;
  }
  span {
    opacity: 0.54;
  }
}
.box-access {
  @include desktop {
    width: 572px;
  }
  @include mobile {
    width: 100%;
  }
  margin-bottom: 40px;
  color: #212121;
  &__title {
    opacity: 0.87;
    font-family: NotoSerif;
    font-size: 14px;
    font-style: italic;
    letter-spacing: -0.1px;
    text-align: justify;
  }
  i {
    color: $wt-primary-pig;
  }
  span {
    opacity: 0.54;
  }
}
.btn-reserva {
  width: 100%;
  min-width: 103px;
  min-height: 40px;
  padding: 1em;
  border-radius: 2px;
  background-color: $wt-primary-pig;
  border: 1px solid $wt-primary-pig;
  color: $wt-white;
  font-size: 14px;
  &:hover {
    background-color: rgba(234, 81, 109, 0.87);
  }
}
.btn-reserva-transparent {
  width: 100%;
  min-width: 103px;
  min-height: 40px;
  padding: 1em;
  border-radius: 2px;
  color: #545454;
  font-size: 14px;
  border: solid 1px #545454;
  background-color: transparent;
  &:hover {
    background-color: rgba(84, 84, 84, 0.87);
    color: $wt-white;
  }
}
.precio-estimado {
  font-family: Noto serif;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}
.iva-no-incluido {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 10px;
}
.icon-people {
  width: 1.5rem;
  box-shadow: none !important;
  margin-top: 0 !important;
}
.box-reserva-mobile {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  border: solid 1px #545454;
  margin-top: 20px;
  margin-bottom: 20px;
  &__header {
    width: 100%;
    height: 50px;
    background-color: rgba(32, 32, 32, 0.87);
    padding: 3px 16px;
    input[type=date] {
      padding: 1em;
    }
    &__desde {
      margin: 0;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #ffffff;
    }
    &__price {
      display: flex;
      align-items: baseline;
      .price {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -0.1px;
        text-align: right;
        color: #ffffff;
      }
      .minhours {
        margin: 0 0 0 16px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-align: justify;
        color: #ffffff;
        align-items: center;
      }
    }
  }
  &__body {
    padding: 16px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #212121;
    label {
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: #212121;
    }
    .box-contenedor {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__chield {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    .agregar-fecha {
      width: 75px;
      height: 14px;
      opacity: 0.87;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: -0.1px;
      text-align: justify;
      color: $wt-primary-pig;
      cursor: pointer;
    }
    .list-dates {
      padding: 0;
      border: none;display: flex;
      justify-content: space-between;
    }
    .messageError {
      margin: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1em;
      background: rgba(234, 81, 109, 0.87);
      color: #fff;
      border-radius: 2px;
      border: 1px solid $wt-primary-pig;
      p {
        margin: 0;
      }
    }
    .precio-estimado {
      font-family: Noto serif;
      font-style: italic;
      font-weight: 600;
      font-size: 16px;
    }
    .iva-no-incluido {
      justify-content: flex-start;
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-size: 10px;
    }
    &__textarea-lg {
      padding: 5px;
    }
  }
}
.pendiente-aprobacion {
  margin-top: 10px;
  color: $wt-primary-pig;
}
.messageError {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  background: rgba(234, 81, 109, 0.87);
  color: #fff;
  border-radius: 2px;
  border: 1px solid $wt-primary-pig;
  p {
    margin: 0;
  }
}