#map {
  height: 700px;
  widows: 100%;
}

#btn-login {
    color: $wt-text-dark;
    text-decoration: none;
}

//------------------ Helppers de formularios ------------------//
.wt-textarea {
    width: 100%;
    border: none;
    box-shadow: 1px 1px 1px 0 #ddd;
    padding: 10px;
    border: 1px solid #ddd;
}

.wt-input {
    border: 1px solid #ddd;
    padding: 12px 7px;
    box-shadow: 1px 1px 1px 0 #ddd;
}

.wt-select {
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 1px 1px 1px 0 #ddd;
    color: $wt-text-dark;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

//-------------------- Helppers de botones -------------------//
.wt-btn-principal-search {
    padding: 0.75em 1.5em;
    border-radius: 2px;
    color: $wt-text-dark;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $wt-text-dark;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        background: rgba(243, 76, 96, 0.7);
    }
}

.wt-btn-transparent {
    padding: 0.75em 1.5em;
    border-radius: 2px;
    border: 0.2em solid $wt-white;
	a:hover, a:focus {
		color: #fff;
		text-decoration: none;
    	background: rgba(243, 76, 96, 0.7);
	}
}

.wt-center-block {
	display: flex;
    justify-content: center;
}

.wt-center-column {
    display: flex;
    flex-direction: column;
}

.wt-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wt-space-block {
    display: flex;
    justify-content: space-between;
}

.wt-center-block-left {
    display: flex;
    justify-content: flex-start;
}

.wt-custom-select {
    padding: 16px;
    color: rgba(99, 107, 111, 0.5);
    font-weight: 500;
    border: 1px solid $wt-grey;
    width: 18em;
    font-size: 0.825rem;
}

.wt-custom-input {
    padding: 10px;
    color: $wt-text-dark;
    border: 1px solid $wt-grey;
    width: 20em;
}
.wt-custom-input[placeholder] {
    color: $wt-text-dark;
}

.wt-content-grid {
    width: 70%;
    display: flex;
    justify-content: space-around;
    .wt-content-grid__left {
        flex-grow: 0;
        p {
            min-width: 12vw;
            font-size: 1.15rem;
        }
    }
    .wt-content-grid__right {
        padding: 0 2em;
        border-left: 2px solid #dadada;
        flex-grow: 1;
    }
}

.wt-btn-primary {
    padding: 14px 16px !important;
    color: $wt-white;
    background-color: $wt-background-principal;
    border-radius: 2px !important;
    &:hover {
        color: $wt-white;
    }
}

//---------------------- Margenes helppers -----------------------//
.wt-m-1 {
    margin: 10px;
}
.wt-m-2 {
    margin: 20px;
}
.wt-m-3 {
    margin: 30px;
}
.wt-m-4 {
    margin: 40px;
}
.wt-m-5 {
    margin: 50px;
}

// MArgen helpper top
.wt-m-top-1 {
    margin-top: 10px;
}
.wt-m-top-2 {
    margin-top: 20px;
}
.wt-m-top-3 {
    margin-top: 30px;
}
.wt-m-top-4 {
    margin-top: 40px;
}
.wt-m-top-5 {
    margin-top: 50px;
}

// MArgen helpper bottom
.wt-m-bot-1 {
    margin-bottom: 10px;
}
.wt-m-bot-2 {
    margin-bottom: 20px;
}
.wt-m-bot-3 {
    margin-bottom: 30px;
}
.wt-m-bot-4 {
    margin-bottom: 40px;
}
.wt-m-bot-5 {
    margin-bottom: 50px;
}

//------------------------------------ Helppers de texto -------------------------------------//
.text-white {
    color: $wt-white !important;
}

.text-grey {
    color: $wt-grey !important;
}

.text-bold {
    font-weight: 600;
}

//--------------------------------- The Modal (background) -----------------------------------//
.wt-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}