:root {
	font-size: 16px;
}

html, body {
	font-size: 16px;
 	width: 100%;
	margin: 0px;
	padding: 0px;
}
.img-home-principal {
	width: 100% !important;
}
.header-principal {
  background-image: url(/img/wimet_inspiring_venue_startup_4.jpg);
  height: 80vh;
  width: 100%;
  color: $wt-white;
  position: relative;
  padding: 10px;
  .header-navbar {
    display: flex;
    justify-content: flex-start;
	align-items: center;
    .actions {
  		margin-left: auto;
		margin-top: 0.5em;
		ul {
			list-style: none;
			li {
				float: left;
				padding: 1em;
				text-decoration: none;
				a, a:hover {
					color: $wt-white;
					text-decoration: none;
				}
			}
		}
    }
  }
  .header-navbar__actions {
    display: flex;
    justify-content: center;
    ul {
      margin-left: auto;
      list-style-type: none;
    }
  }
  .texto-header {
    width: 100%;
    height: auto;
    margin-top: 18vh;
    .text-header__title {
  		text-align: center;
		font-size: 3rem;
		font-weight: 600;
		margin: 20px;
		padding: 0px;
    }
    .text-header__sub-title {
		text-align: center;
	    font-size: 1.1785rem;
	    font-weight: 400;
	    margin: 0px;
	    padding: 0px;
    }
    .texto-header__container-btn {
    	margin: 30px;
	    display: flex;
	    justify-content: center;
    }
  }
  .header-footer {
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 16px 0px;
  }
}

.categories {
	padding: 10px;
	background-color: $wt-white;
	h2 {
		font-weight: 700;
	    font-size: 2.25rem;
	}
	p {
	    font-size: 1.1875rem;
	}
}

.comunity {
	padding: 10px;
	color: #333;
	h2 {
		font-weight: 600;
	    font-size: 3.5rem;
	}
	p {
	    font-size: 2rem;
	    line-height: 25px;
	    color: #9d9d9d;
	}
	.comunity__container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    div {
	    	padding: 0 30px;
	    }
	}
}

.how-work {
	padding: 20px;
	color:#333;
	background-color: $wt-background-claro;
	h2 {
	    font-size: 2.25rem;
	    font-weight: 600;
	}
	h3 {
	    font-size: 1.1875rem;
	    margin-bottom: 30px;
	}
	h4 {
		font-weight: 600;
    	color: #4c4c4c;
    	font-size: 20px;
    	margin: 12px 0;
	}
	p {
	    color: #8A8A8A;
		font-weight: 400;
	    font-size: 17px;
	}
}

.sponsors {
	padding: 20px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter {
	padding: 10px;
	color: $wt-white;
	background-color: $wt-background-principal;

	.newsletter-content {
		display: flex;
	    align-items: center;

	    .newsletter-content__title {
	    	padding: 20px 0px;
	    	h2 {
	    		font-size: 2.25rem;
	    	}
	    	p {
	    		font-size: 1.1875rem;
	    	}
	    }
	    .newsletter-content__email {
	    	padding: 20px;
	    	width: 22%;
	    }
	}
}

footer {
	background-color: $wt-dark-blue;
	color: $wt-white;
	padding: 40px;
	h4 {
		font-size: 1.1875rem !important;
		font-weight: 400;
	}
	ul {
		margin-top: 2rem;
		list-style: none;
		padding: 0;
		li {
			a, a:hover {
				color: $wt-text-principal;
				text-decoration: none;
			}
		}
	}
	.border-redes {
		border-right: 1px solid $wt-text-principal;
	}
	.follow {
		img {
			float: left;
			margin-right: 10px;
			width: 30px;
		}
	}
}