:root {
	font-size: 16px;
}

html, body {
	font-size: 16px;
 	width: 100%;
	margin: 0px;
	padding: 0px;
}
.img-home-principal {
	width: 100% !important;
}
.header-principal {
	@include desktop {
		background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet_inspiring_venue_startup_gqsbqg.jpg);
		height: 80vh;
		width: 100%;
		color: $wt-white;
		position: relative;
		padding: 10px;
		.header-navbar {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.actions {
				margin-left: auto;
				margin-top: 0.5em;
				ul {
					list-style: none;
					li {
						float: left;
						padding: 1em;
						text-decoration: none;
						
						@include mobile	{
							&:first-child {
					    		display: none;
					    	}	
						}				
						a 	{
							color: #F1F1F1;
							text-decoration: none;
							padding: 10px 15px 5px;
							border-radius: 2px;
						    border: 2px solid #F1F1F1;
						    font-family: Poppins;
						    font-size: 13px;
						    letter-spacing: 0.5px;
							
							:hover {
								
							}
						}
					}
				}
			}
		}
		.header-navbar__actions {
			display: flex;
			justify-content: center;
			ul {
				margin-left: auto;
				list-style-type: none;
			}
		}
		.texto-header {
			width: 100%;
			height: auto;
			margin-top: 18vh;
			.text-header__title {
				text-align: center;
				font-weight: 600;
				margin: 20px;
				padding: 0px;
				font-family: 'Poppins', sans-serif;
			    font-size: 50px;
			    text-shadow: 1px 0px;
			    letter-spacing: 3px;
			}
			.text-header__sub-title {
				text-align: center;
				font-weight: 400;
				margin: 0px;
				padding: 0px;
			    font-family: 'Poppins', sans-serif;
			    font-size: 15px;
			    letter-spacing: 0.5px;
			}
			.texto-header__container-btn {
				margin: 30px;
				display: flex;
				justify-content: center;
			}
		}
		.header-footer {
			background: rgba(0, 0, 0, 0.3);
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 16px 0px;
			:first-child	{
			    	border-right: none !important;
				    border-top-left-radius: 2px;
				    border-bottom-left-radius: 2px;

			}
			.dropbtn-left {
				width: 250px;
				height: 50px;
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			    color: #545454;
				cursor: pointer;
			    text-align: left;
			    padding: 6px 12px;
			    font-size: 0.825rem;
				background-color: $wt-white;
				border: solid 1px #dadada;
			}
			.dropbtn-right {
				width: 250px;
				height: 50px;
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			    color: #545454;
				cursor: pointer;
			    text-align: left;
			    padding: 6px 12px;
			    font-size: 0.825rem;
				background-color: $wt-white;
				border: solid 1px #dadada;
				border-radius: 0px;
			}
			.dropdown {
				position: relative;
				display: inline-block;
				&__content {
			    	width: 250px;
					position: absolute;
					background-color: $wt-white;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
					span {
						color: black;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						&:hover {
							background-color: #f1f1f1;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	@include mobile {
		background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet_inspiring_venue_startup_gqsbqg.jpg);
		height: 80vh;
		width: 100%;
		color: $wt-white;
		position: relative;
		padding: 10px;
		.header-navbar {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.actions {
				margin-left: auto;
				margin-top: 0.5em;
				ul {
					list-style: none;
					li {
						float: left;
						padding: 1em;
						text-decoration: none;
						
						@include mobile	{
							&:first-child {
					    		display: none;
					    	}	
						}				
						a 	{
							color: #F1F1F1;
							text-decoration: none;
							padding: 10px 15px 5px;
							border-radius: 2px;
						    border: 2px solid #F1F1F1;
						    font-family: Poppins;
						    font-size: 13px;
						    letter-spacing: 0.5px;
							
							:hover {
								
							}
						}
					}
				}
			}
		}
		.header-navbar__actions {
			display: flex;
			justify-content: center;
			ul {
				margin-left: auto;
				list-style-type: none;
			}
		}
		.texto-header {
			width: 100%;
			height: auto;
			margin-top: 8vh;
		}
		.header-footer {
			display: none;
		}
	}
}
.page-publica {
	.header-publica {
		height: 600px;
		width: 100%;
		background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet-espacios-creativos-eventos-reuniones-producciones-popups-anfitrion.jpg);
		background-size: cover;
		color: $wt-white;
		position: relative;
		padding: 10px;
		.header-navbar {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.actions {
				margin-left: auto;
				margin-top: 0.5em;
				ul {
					list-style: none;
					li {
						float: left;
						padding: 1em;
						text-decoration: none;
						
						@include mobile	{
							&:first-child {
					    		display: none;
					    	}	
						}				
						a 	{
							color: #F1F1F1;
							text-decoration: none;
							padding: 10px 15px 5px;
							border-radius: 2px;
						    border: 2px solid #F1F1F1;
						    font-family: Poppins;
						    font-size: 13px;
						    letter-spacing: 0.5px;
							&:hover, &:focus {
						        color: #fff;
						        text-decoration: none;
						        background: $wt-primary-pig;
						        border: 2px solid $wt-primary-pig;
						    }
						}
					}
				}
			}
		}
		.header-navbar__actions {
			display: flex;
			justify-content: center;
			ul {
				margin-left: auto;
				list-style-type: none;
			}
		}
		&__main {
			margin-top: 200px;
			margin-left: 50px;
			h2 {
				font-size: 38px;
			}
		}
	}
	.section-sponsors {
		background-color: #f8f8f8;
	}
	.section-espacios-1 {
		width: 100%;
		height: 488px;
		margin-top: 5em;
		&__descripcion {
			width: 50%;
			padding: 5em;
			float: left;
			li{
				list-style: none;
			}
			li:before {
			    content: '';
			    display: inline-block;
			    height: 15px;
			    width: 15px;
			    background-image: url(../img/wimet_ic_check_24px_accent.svg);
			    background-repeat: no-repeat;
			    margin-right: 1em;
			}
		}
		&__banner {
			width: 50%;
			float: right;
			height: 100%;
			background-image: url(https://res.cloudinary.com/wimet/image/upload/espacioscomerciales.jpg);
			background-size: cover;
		}
	}
	.section-espacios-2 {
		width: 100%;
		height: 488px;
		&__banner {
			width: 50%;
			float: left;
			height: 100%;
			background-image: url(https://res.cloudinary.com/wimet/image/upload/espaciosprivados.jpg);
			background-size: cover;
		}
		&__descripcion {
			width: 50%;
			padding: 5em;
			float: right;
			li{
				list-style: none;
			}
			li:before {
			    content: '';
			    display: inline-block;
			    height: 15px;
			    width: 15px;
			    background-image: url(../img/wimet_ic_check_24px_accent.svg);
			    background-repeat: no-repeat;
			    margin-right: 1em;
			}
		}
	}
	.summar-espacio {
		height: 300px;
		background-color: $wt-primary-pig;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $wt-white;
		.btn-sumar-espacio {
		    width: 173px;
		    height: 40px;
		    border-radius: 2px;
		    background-color: #ffffff;
		    border: none;
		    color: $wt-primary-pig;
		}
		.preguntas-freguentes {
			color: #1c3240;
		}
	}
}
.categories {
	padding: 10px;
	background-color: $wt-white;

	.content-wt	{
		@include desktop {
			height: 180px;
	    	padding-top: 45px;
			h2 {
				font-size: 24px;
			    font-weight: 600;
		        color: rgba(33, 33, 33, 0.87);
			    font-family: 'Poppins', sans-serif;
			    letter-spacing: 0.7px;
		        margin-bottom: 20px;
		        text-shadow: 0px 0px;
			}
			p {
			    
			    font-size: 18px;
			    color: #545454;
			    font-family: 'Poppins', sans-serif;
			    letter-spacing: 0.3px;
	    		font-weight: 600;
			}
		}
	}
}

.comunity {
	padding: 10px;
	color: #333;
	h2 {
		font-weight: 600;
	    font-size: 3.5rem;
	}
	p {
	    font-size: 2rem;
	    line-height: 25px;
	    color: #9d9d9d;
	}
	.comunity__container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    div {
	    	padding: 0 30px;
	    }
	}
}

.how-work {
	padding: 45px 20px;
	color:#333;
	background-color: $wt-background-claro;
	h2 {
	    font-size: 24px;
	    font-weight: 600;
	    color: rgba(33, 33, 33, 0.87);
	    font-family: 'Poppins', sans-serif;
	    letter-spacing: 0.7px;
	}
	h3 {
	    margin-bottom: 30px;
	    font-size: 18px;
	    color: #545454;
	    font-family: 'Poppins', sans-serif;
	    text-shadow: 0px 0px;
	}
	h4 {
		font-weight: 600;
    	color: #545454;
    	font-size: 20px;
    	margin: 12px 0;
	}
	p {
        font-family: 'Roboto Light', arial;
	    color: #888B8D;
	    font-size: 14px;
	    text-shadow: 0px 0px;
	    padding: 0 30px;
	    text-align: justify;
	    line-height: 18px;
	    &.signature {
		    font-family: NotoSerif;
		    font-style: italic;
		    color: #545454;
		    font-size: 14px;
		}
	}
}

.sponsors {
	padding: 20px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter {
	padding: 10px;
	color: $wt-white;
	background-color: $wt-background-principal;

	.newsletter-content {
		display: flex;
	    align-items: center;

	    .newsletter-content__title {
	    	padding: 20px 0px;
	    	h2 {
	    		font-size: 2.25rem;
	    	}
	    	p {
	    		font-size: 1.1875rem;
	    	}
	    }
	    .newsletter-content__email {
	    	padding: 20px;
	    	width: 22%;
	    }
	}
}

footer {
	background-color: $wt-dark-blue;
	color: #dadada;
	padding: 40px;
	.main-footer	{
		font-family: 'Roboto Regular', arial;
		color: #dadada;
		font-size: 14px; 
		margin-top: 2rem;
	}
	h4 {
		font-size: 1.1875rem !important;
		font-weight: 400;
	}
	p.col-footer	{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		color: $wt-white;
	}
	ul {
		margin-top: 2rem;
		list-style: none;
		padding: 0;
		li {
			padding-bottom: 5px;
			a, a:hover {
				text-decoration: none;
				font-family: 'Roboto Light', arial;
			    color: #dadada;
			    font-size: 14px;
			}
		}
	}
	
	
	.border-redes {
		border-right: 1px solid $wt-text-principal;
	}
	.follow {
		img {
			float: left;
			margin-right: 10px;
			width: 30px;
		}
	}
}