:root {
	font-size: 16px;
}

html, body {
	font-size: 16px;
 	width: 100%;
	margin: 0px;
	padding: 0px;
}
.img-home-principal {
	width: 100% !important;
}
.header-principal {
	@include desktop {
		background-color: #888B8D;
		background-image: url(https://res.cloudinary.com/wimet/image/upload/q_auto:low/wimet_inspiring_venue_startup_gqsbqg_eue0iu.jpg);
		height: 80vh;
		width: 100%;
		color: $wt-white;
		position: relative;
		padding: 10px;
		.header-navbar {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.actions {
				margin-left: auto;
				margin-top: 0.5em;
				ul {
					list-style: none;
					li {
						float: left;
						padding: 1em;
						text-decoration: none;

						@include mobile	{
							&:first-child {
					    		display: none;
					    	}
						}
						a 	{
							color: #F1F1F1;
							text-decoration: none;
							padding: 10px 15px;
							border-radius: 2px;
						    border: 2px solid #F1F1F1;
						    font-family: $font-family-sans-serif;
						    font-size: 13px;
						    letter-spacing: 0.5px;

							:hover {

							}
						}
					}
				}
			}
		}
		.header-navbar__actions {
			display: flex;
			justify-content: center;
			ul {
				margin-left: auto;
				list-style-type: none;
			}
		}
	}
	@include mobile {
		background-color: #888B8D;
		background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet_inspiring_venue_startup_gqsbqg.jpg);
		height: 80vh;
		width: 100%;
		color: $wt-white;
		position: relative;
		padding: 10px;
		.header-navbar {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.actions {
				margin-left: auto;
				margin-top: 0.5em;
				ul {
					list-style: none;
					li {
						float: left;
						padding: 1em;
						text-decoration: none;

						&:first-child {
				    		display: none;
				    	}
						a 	{
							color: #F1F1F1;
							text-decoration: none;
							padding: 10px 15px 5px;
							border-radius: 2px;
						    border: 2px solid #F1F1F1;
						    font-family: $font-family-sans-serif;
						    font-size: 13px;
						    letter-spacing: 0.5px;
						}
					}
				}
			}
		}
		.header-navbar__actions {
			display: flex;
			justify-content: center;
			ul {
				margin-left: auto;
				list-style-type: none;
			}
		}
	}
}
.page-publica {
	@include desktop {
		.header-publica {
			height: 600px;
			width: 100%;
			background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet-espacios-creativos-eventos-reuniones-producciones-popups-anfitrion.jpg);
			background-size: cover;
			color: $wt-white;
			position: relative;
			padding: 10px;
			.header-navbar {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.actions {
					margin-left: auto;
					margin-top: 0.5em;
					ul {
						list-style: none;
						li {
							float: left;
							padding: 1em;
							text-decoration: none;

							@include mobile {
								&:first-child {
									display: none;
								}
							}
							a {
								color: #F1F1F1;
								text-decoration: none;
								padding: 10px 15px 10px;
								border-radius: 2px;
								border: 2px solid #F1F1F1;
								font-family: $font-family-sans-serif;
								font-size: 13px;
								letter-spacing: .5px;
								&:hover, &:focus {
									color: #fff;
									text-decoration: none;
									background: $wt-primary-pig;
									border: 2px solid $wt-primary-pig;
								}
							}
						}
					}
				}
			}
			.header-navbar__actions {
				display: flex;
				justify-content: center;
				ul {
					margin-left: auto;
					list-style-type: none;
				}
			}
			&__main {
				margin-top: 200px;
				margin-left: 50px;
				h2 {
					font-size: 38px;
				}
			}
		}
		.section-sponsors {
			background-color: #f8f8f8;
		}
		.section-espacios-1 {
			width: 100%;
			height: 488px;
			margin-top: 5em;
			&__descripcion {
				width: 50%;
				padding: 5em;
				float: left;
				li {
					list-style: none;
				}
				li:before {
					content: '';
					display: inline-block;
					height: 15px;
					width: 15px;
					background-image: url(../img/wimet_ic_check_24px_accent.svg);
					background-repeat: no-repeat;
					margin-right: 1em;
				}
			}
			&__banner {
				width: 50%;
				float: right;
				height: 100%;
				background-image: url(https://res.cloudinary.com/wimet/image/upload/espacioscomerciales.jpg);
				background-size: cover;
			}
		}
		.section-espacios-2 {
			width: 100%;
			height: 488px;
			&__banner {
				width: 50%;
				float: left;
				height: 100%;
				background-image: url(https://res.cloudinary.com/wimet/image/upload/espaciosprivados.jpg);
				background-size: cover;
			}
			&__descripcion {
				width: 50%;
				padding: 5em;
				float: right;
				li {
					list-style: none;
				}
				li:before {
					content: '';
					display: inline-block;
					height: 15px;
					width: 15px;
					background-image: url(../img/wimet_ic_check_24px_accent.svg);
					background-repeat: no-repeat;
					margin-right: 1em;
				}
			}
		}
		.summar-espacio {
			height: 300px;
			background-color: $wt-primary-pig;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $wt-white;
			.btn-sumar-espacio {
				width: 173px;
				height: 40px;
				border-radius: 2px;
				background-color: #ffffff;
				border: none;
				color: $wt-primary-pig;
			}
			.preguntas-freguentes {
				color: #1c3240;
			}
		}
	}
	@include mobile {
		.header-publica {
			height: 600px;
			width: 100%;
			background-image: url(https://res.cloudinary.com/wimet/image/upload/wimet-espacios-creativos-eventos-reuniones-producciones-popups-anfitrion.jpg);
			background-size: cover;
			color: $wt-white;
			position: relative;
			padding: 10px;
			.header-navbar {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.actions {
					margin-left: auto;
					margin-top: 0.5em;
					ul {
						list-style: none;
						li {
							float: left;
							padding: 1em;
							text-decoration: none;

							@include mobile {
								&:first-child {
									display: none;
								}
							}
							a {
								color: #F1F1F1;
								text-decoration: none;
								padding: 10px 15px 10px;
								border-radius: 2px;
								border: 2px solid #F1F1F1;
								font-family: $font-family-sans-serif;
								font-size: 13px;
								letter-spacing: .5px;
								&:hover, &:focus {
									color: #fff;
									text-decoration: none;
									background: $wt-primary-pig;
									border: 2px solid $wt-primary-pig;
								}
							}
						}
					}
				}
			}
			.header-navbar__actions {
				display: flex;
				justify-content: center;
				ul {
					margin-left: auto;
					list-style-type: none;
				}
			}
			&__main {
				margin-top: 150px;
				margin-left: 50px;
				h2 {
					font-size: 34px;
				}
			}
		}
		.section-sponsors {
			background-color: #f8f8f8;
		}
		.section-espacios-1 {
			width: 100%;
			height: auto;
			&__descripcion {
				width: 100%;
				padding: 1em;
				li {
					list-style: none;
				}
				li:before {
					content: '';
					display: inline-block;
					height: 15px;
					width: 15px;
					background-image: url(../img/wimet_ic_check_24px_accent.svg);
					background-repeat: no-repeat;
					margin-right: 1em;
				}
			}
			&__banner {
				display: none;
			}
		}
		.section-espacios-2 {
			width: 100%;
			height: auto;
			&__banner {
				display: none;
			}
			&__descripcion {
				width: 100%;
				padding: 1em;
				li {
					list-style: none;
				}
				li:before {
					content: '';
					display: inline-block;
					height: 15px;
					width: 15px;
					background-image: url(../img/wimet_ic_check_24px_accent.svg);
					background-repeat: no-repeat;
					margin-right: 1em;
				}
			}
		}
		.summar-espacio {
			height: 300px;
			background-color: $wt-primary-pig;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $wt-white;
			padding: 1em;
			text-align: center;
			.btn-sumar-espacio {
				width: 173px;
				height: 40px;
				border-radius: 2px;
				background-color: #ffffff;
				border: none;
				color: $wt-primary-pig;
			}
			.preguntas-freguentes {
				color: #1c3240;
			}
		}
	}
}
.categories {
	padding: 10px;
	background-color: $wt-white;
	margin-top: 3em;
	.content-wt	{
		@include desktop {
			padding-bottom: 1em;
			h2 {
				font-family: $font-family-sans-serif;
				font-size: 14px;
				letter-spacing: -0.1px;
				text-align: left;
				color: #212121;
			}
		}
	}
}

.comunity {
	padding: 10px;
	color: #333;
	h2 {
		font-weight: 600;
	    font-size: 3.5rem;
	}
	p {
	    font-size: 2rem;
	    line-height: 25px;
	    color: #9d9d9d;
	}
	.comunity__container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    div {
	    	padding: 0 30px;
	    }
	}
}

.title-black {
	color: #333333;
	font-weight: bold;
}

.how-work {
	padding: 45px 20px;
	color:#333;
	h2 {
	    font-size: 24px;
	    font-weight: 600;
	    color: rgba(33, 33, 33, 0.87);
	    font-family: $font-family-sans-serif, sans-serif;
	    letter-spacing: 0.7px;
	}
	h3 {
	    margin-bottom: 30px;
	    font-size: 18px;
	    color: #545454;
	    font-family: $font-family-sans-serif, sans-serif;
	    text-shadow: 0px 0px;
	}
	h4 {
		font-weight: 600;
    	color: #545454;
    	font-size: 20px;
    	margin: 12px 0;
	}
	p {
        font-size: 14px;
	    padding: 0 30px;
	    text-align: justify;
	    line-height: 18px;
	    color: #666666;
	    &.signature {
		    font-family: NotoSerif;
		    font-style: italic;
		    color: #333333;
		    font-size: 14px;
		}
	}
	.paso-a-paso {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-bottom: 2em;
	    &__left {
	    	padding: 1em;
	    	h1 {margin: 0}
	    }
	    &__right {
    	    padding: 0 1em;
		    border-left: 1px solid #dadada;
		    display: flex;
		    flex-direction: column;
		    .title {
	    	    margin-bottom: 1em;
    			font-size: 20px;
		    }
	    }
	}
}

.referidos {
	height: 250px;
    background-color: rgba(43, 62, 87, 0.9);
    margin-top: 5em;
    &__content {
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    img {
		    margin-top: -2em;
		    margin-right: 3em;
		}
		&__textos {
		    display: flex;
		    flex-direction: column;
		    margin-right: 3em;
		    color: #fff;
		}
	}
	&__btn-send {
	    padding: 1em;
	    width: 30%;
	    background: transparent;
	    border: 1px solid #fff;
	    border-radius: 2px;
	    color: #fff;
	}
}

.sponsors {
	padding: 20px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter {
	padding: 10px;
	color: $wt-white;
	background-color: $wt-primary-pig;

	.newsletter-content {
		display: flex;
	    align-items: center;

	    .newsletter-content__title {
	    	padding: 20px 0px;
	    	h2 {
	    		font-size: 2.25rem;
	    	}
	    	p {
	    		font-size: 1.1875rem;
	    	}
	    }
	    .newsletter-content__email {
	    	padding: 20px;
	    	width: 22%;
	    }
	}
}

@include mobile {
	.categorias-desktop {
		display: none;
	}
	.header-footer {
		margin-top: 10px;
	}
	#search-desktop {
		display: none;
	}
	#search-mobile {
		.dropbtn {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #545454;
			cursor: pointer;
			text-align: left;
			padding: 6px 12px;
			font-size: 0.825rem;
			background-color: $wt-white;
			border: solid 1px #dadada;
			border-radius: 0px;
		}
		.dropdown {
			position: relative;
			display: inline-block;
			&__content {
				width: 100%;
				position: absolute;
				background-color: $wt-white;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				.contaniner-categorias {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					&:hover {
						background-color: #f1f1f1;
						cursor: pointer;
					}
					.subCategoria {
						font-size: 12px;
					}
				}
			}
			&__content-left {
				width: 250px;
				position: absolute;
				background-color: $wt-white;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				display: flex;
				flex-direction: column;
				.contaniner-categorias {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					&:hover {
						background-color: #f1f1f1;
						cursor: pointer;
					}
				}
			}
		}
	}
	.texto-header {
		@include mobile {
			width: 100%;
			height: auto;
			margin-top: 25px;
			.text-header__title {
				font-size: 36px;
				font-weight: bold;
			}
			.text-header__sub-title {
				font-weight: 400;
				padding: 0px;
				font-family: $font-family-sans-serif, sans-serif;
				font-size: 14px;
				letter-spacing: 1px;
			}
		}
		@include desktop {
			width: 100%;
			height: auto;
			margin-top: 5vh;
			.text-header__sub-title {
				font-weight:
								400;
				padding: 0px;
				font-family: $font-family-sans-serif, sans-serif;
				font-size: 14px;
				letter-spacing: 0.5px;
			}
		}
	}
}
@include desktop {
	.categorias-mobile {
		display: none;
	}
	.categorias-desktop {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			h3 {
				position: absolute;
				color: #fff;
				margin: 0;
			}
		}
	}
	.header-footer {
		width: 100%;
		box-shadow: 2px 6px 50px 0 rgba(0, 0, 0, 0.1);
		#search-desktop {
			width: 100%;
			display: flex;
			height: 70px;
			.content-dropbtn-select {width: 45%;}
			.content-dropbtn-btn {
				width: 20%;
				padding: 10px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				border-bottom: 1px solid #dadada;
				border-top: 1px solid #dadada;
				border-right: 1px solid #dadada;
			}
			.dropbtn-left {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #212121;
				cursor: pointer;
				text-align: left;
				padding: 6px 12px;
				font-size: 14px;
				background-color: $wt-white;
				border: solid 1px #dadada;
				i {
					color: #212121 !important;
				}
			}
			.dropbtn-right {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #212121;
				cursor: pointer;
				text-align: left;
				padding: 6px 12px;
				font-size: 14px;
				background-color: white;
				border-radius: 0px;
				font-weight: 500;
				border: none;
				border-top: 1px solid #dadada;
				border-bottom: 1px solid #dadada;
				i {
					color: #212121 !important;
				}
			}
			.dropdown {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 100%;
				&__content {
					width: 100%;
					position: absolute;
					background-color: $wt-white;
					min-width: 160px;
					border-left: 1px solid #dadada;
					border-right: 1px solid #dadada;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					.contaniner-categorias {
						color: black;
						padding: 1em;
						text-decoration: none;
						display: flex;
						align-items: center;
						border-bottom: 1px solid #dadada;
						&:hover {
							background-color: #f1f1f1;
							cursor: pointer;
						}
						.subCategoria {
							font-size: 12px;
							color: #999999;
						}
					}
				}
				&__content-left {
					width: 100%;
					position: absolute;
					background-color: $wt-white;
					min-width: 160px;
					border-left: 1px solid #dadada;
					border-right: 1px solid #dadada;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					display: flex;
					flex-direction: column;
					.contaniner-categorias {
						transition: none;
						color: black;
						padding: 12px 16px;
						text-decoration: none;
						display: flex;
						flex-direction: column;
						justify-content: center;
						border-bottom: 1px solid #dadada;
						&:hover {
							background-color: #f1f1f1;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	#search-mobile {
		display: none;
	}
	.texto-header {
		width: 78%;
		margin: 0 auto;
		height: auto;
		margin-top: 5em;
		.text-header__title {
			width: 750px;
			padding: 0;
			font-family: $font-family-sans-serif;
			font-size: 48px;
			font-weight: bold;
			letter-spacing: -0.3px;
			color: #212121;
		}
		.text-header__sub-title {
			font-family: NotoSerif;
			font-size: 16px;
			font-style: italic;
			letter-spacing: -0.1px;
			color: #999999;
		}
		.texto-header__container-btn {
			margin: 30px;
			display: flex;
			justify-content: center;
		}
	}
}

footer {
	background-color: #f8f8f8;
	color: #666666;
	padding: 40px;
	.main-footer	{
		font-size: 14px; 
		margin-top: 2rem;
	}
	h4 {
		font-size: 1.1875rem !important;
		font-weight: 400;
	}
	p.col-footer	{
		text-transform: uppercase;
		font-size: 16px;
		color: #333333;
	}
	ul {
		margin-top: 2rem;
		list-style: none;
		padding: 0;
		li {
			padding-bottom: 5px;
			a, a:hover {
				text-decoration: none;
			    font-size: 14px;
				color: #666666;
			}
		}
	}
	
	
	.border-redes {
		border-right: 1px solid $wt-text-principal;
	}
	.follow {
		img {
			float: left;
			margin-right: 10px;
			width: 30px;
		}
	}
}

.timeline-wrapper {
	padding: 1em;
}
.timeline-item {
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	padding: 1em 0;
	margin: 0 auto;
}

@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 40px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
	top: 0;
	left: 40px;
	right: 0;
	height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
	top: 10px;
	left: 40px;
	height: 8px;
	width: 10px;
}

.background-masker.header-bottom {
	top: 18px;
	height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
	top: 24px;
	height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
	width: auto;
	left: 300px;
	right: 0;
}

.background-masker.subheader-right {
	left: 230px;
}

.background-masker.subheader-bottom {
	top: 30px;
	height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
	top: 40px;
	left: 0;
	right: 0;
	height: 6px;
}

.background-masker.content-top {
	height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
	width: auto;
	left: 380px;
	right: 0;
	top: 60px;
	height: 8px;
}

.background-masker.content-second-line  {
	top: 68px;
}

.background-masker.content-second-end {
	left: 420px;
	top: 74px;
}

.background-masker.content-third-line {
	top: 82px;
}

.background-masker.content-third-end {
	left: 300px;
	top: 88px;
}