.section-publica 
{
	.container-left {
	    width: 60%;
	    float: left;
		height: 650px;
		position: relative;
		overflow-y: scroll;
		h2 {
			margin: 0.5rem 0;
		}
		@include mobile {
			width: 100%;
		}
		.buttons {
			width: 100%;
		    position: absolute;
		    bottom: 0;
		    border: 1px solid #dadada;
		    display: flex;
		    justify-content: space-between;
		}
		.container-center {
			padding: 1rem 2rem;
			.title-paso {
				font-size: 1em;
			    font-weight: 500;
			    color: #ccc;
			}
			.select-publica {
			    padding: 1rem;
			    border: 1px solid #dadada;
			}
			.tipo-espacio {
			    padding: 0;
			    list-style: none;
			    width: 27.5%;
			    li {
				    padding: 1rem 3rem;
				    border: 1px solid #dadada;
				    cursor: pointer;
			        display: flex;
				    flex-direction: row;
				    justify-content: space-between;
				    align-items: center;
				}
			}
			&__list {
			    display: flex;
			    flex-direction: column;
			    &__item {
				    display: flex;
				    margin: 1rem 0;
				    .left__item {
					    margin-left: 1rem;
					    display: flex;
					    flex-direction: column;
					    .item-description {
						    color: rgba(0, 0, 0, 0.38);
						    font-size: 1em;
						    font-weight: 600;
						}
					}
				}
			}
			.box-publica {
		    	margin: 2rem 0;
		    	&__container {
		    		display: flex;
		    		&__input {
					    padding: 0.5rem;
					    border: 1px solid #dadada;
					}
					&__pointer {
					    padding: 1rem 1.5rem;
					    border: 1px solid #dadada;
					    margin-left: 1px;
					    cursor: pointer;
					}
					&__name {
					    padding: 1rem;
					    font-weight: 600;
					}
		    	}
		    	&__description {
				    padding: 0.4rem 0;
				    .description-text {
				    	margin-top: 1rem;
					    color: rgba(0, 0, 0, 0.35);
					    font-weight: 600;
				    }
				}
			}
		}
	}
	.container-right {
	    width: 40%;
		min-height: 650px;
	    float: right;
	    padding: 4em;
	    background: rgba(239, 239, 239, 1);
	    display: flex;
    	justify-content: center;
    	@include mobile {
			display: none;
    	}
	}
}
