.publica-titulo {
	font-size: 36px;
	letter-spacing: -0.2px;
	text-align: left;
	color: #000000;
	font-family: Ubuntu;
	font-weight: bold;
	margin: 0;
}
.section-publica {
	h1, h2, h3, h4 {
		color: $wt-primary-dark;
		font-weight: 600;
	}
	.content-publica {
		padding: 2em;
	}
	label {
	    font-size: 14px;
	    font-weight: 500;
	    letter-spacing: -0.1px;
	    color: $wt-primary-dark;
	}
	.link {
		color: $wt-primary-pig;
		&:hover {
			color: $wt-primary-pig;
			text-decoration: none;
		}
	}
	.container-left {
	    width: 60%;
	    float: left;
		height: 650px;
		position: relative;
		background-color: $wt-white;
		.navbar-pasos {
			width: 100%;
    		display: flex;
    		&__btn-first {
			    width: 25%;
			    height: 40px;
			    border: none;
			    border-left: solid 1px $wt-primary-pig;
			    border-bottom: solid 1px $wt-primary-pig;
			    border-top: solid 1px $wt-primary-pig;
			    background: $wt-white;
			    color: $wt-primary-pig;
			    margin: 0;
			}
    		&__btn {
			    width: 25%;
			    height: 40px;
			    border: solid 1px $wt-primary-pig;
			    background: $wt-white;
			    color: $wt-primary-pig;
			    margin: 0;
			}
    		&__btn-last {
			    width: 25%;
			    height: 40px;
			    border: none;
			    border-right: solid 1px $wt-primary-pig;
			    border-bottom: solid 1px $wt-primary-pig;
			    border-top: solid 1px $wt-primary-pig;
			    background: $wt-white;
			    color: $wt-primary-pig;
			    margin: 0;
			}
			&__btm--active {
				width: 25%;
			    height: 40px;
			    border: solid 1px $wt-primary-pig;
			    background: $wt-primary-pig;
			    color: $wt-white;
			    margin: 0;
			}
		}
		h2 {
			margin: 0.5rem 0;
		}
		@include mobile {
			width: 100%;
		}
		.buttons {
			width: 60%;
		    position: fixed;
		    bottom: 0;
		    border: 1px solid #dadada;
		    display: flex;
		    justify-content: space-between;
		    background: $wt-white;
		    .btn-volver {
			    font-family: Ubuntu Bold Medium;
			    font-size: 14px;
			    font-weight: 500;
			    letter-spacing: -0.1px;
			    color: #75787a;
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			    width: 108px;
			    padding: 0 1em;
			    &:hover {
			    	text-decoration: none;
			    }
		    }
		}
		.container-center {
			padding: 1rem 2rem;
			.title-paso {
				font-size: 1em;
			    font-weight: 500;
			    color: #ccc;
			}
			.select-publica {
			    padding: 1rem;
			    border: 1px solid #dadada;
			}
			.input-publica {
			    padding: 1rem;
			    border: 1px solid #dadada;
			    width: 450px;
			}
			.tipo-espacio {
			    padding: 0;
			    list-style: none;
			    width: 27.5%;
			    li {
				    padding: 1rem 2rem;
				    border: 1px solid #dadada;
			        display: flex;
				    flex-direction: row;
				    justify-content: space-between;
				    align-items: center;
				}
			}
			&__list {
			    display: flex;
			    flex-direction: column;
			    &__item {
				    display: flex;
				    margin: 1rem 0;
				    .left__item {
					    display: flex;
					    flex-direction: column;
					    .item-description {
						    font-size: 12px;
						    letter-spacing: -0.1px;
						    text-align: justify;
						    color: $wt-primary-grey;
						}
					}
				}
			}
			.box-publica {
		    	margin: 1rem 0;
		    	&__container {
		    		display: flex;
		    		align-items: baseline;
		    		&__input {
					    padding: 0.5rem;
					    width: 80px;
					    height: 40px;
					    background-color: $wt-white;
					    border: solid 1px $wt-primary-grey;
					}
					&__pointer {
						width: 40px;
						height: 40px;
						background-color: $wt-white;
						border: solid 1px $wt-primary-grey;
						color: $wt-primary-grey;
					}
					&__pointer-center {
						width: 40px;
						height: 40px;
						background-color: $wt-white;
					    border: none;
					    border-bottom: 1px solid $wt-primary-grey;
					    border-top: solid 1px $wt-primary-grey;
						color: $wt-primary-grey;
					}
					&__name {
					    padding: 1rem;
					    font-weight: 500;
					    color: $wt-primary-dark;
					    font-size: 16px;
					}
		    	}
		    	&__description {
				    padding: 0.4rem 0;
				    .description-text {
				    	margin-top: 1rem;
					    color: $wt-primary-grey;
					    font-size: 14px;
				    }
				}
			}
		}
		.Sub-title {
		  font-size: 24px;
		  font-weight: 500;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: -0.1px;
		  color: $wt-primary-grey;
		}
		.sub-title-info {
		  font-size: 13px;
		  font-weight: 500;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: -0.1px;
		  color: $wt-primary-dark;
		}
		.box-step {
		    width: 50%;
		    padding: 2em 0 1em 0;
		    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
		}
	}
	.container-right {
	    width: 40%;
		min-height: 650px;
	    float: right;
	    padding: 3em;
	    background: rgba(239, 239, 239, 1);
	    display: flex;
    	justify-content: center;
    	&__dialog-box {
			width: 100%;
		    height: 480px;
		    padding: 2em;
		    background: white;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
    	}
    	@include mobile {
			display: none;
    	}
	}
}

.wt-publica-input {
    padding: 10px;
    color: $wt-primary-grey;
    border: 1px solid $wt-primary-grey;
    width: 100%;
}

.wt-publica-label {
	padding-left: 2.3em;
	position: relative;
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	&:before {
		content: ' ';
		border: 1px solid $wt-primary-grey;
		border-radius: 2px;
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		left: 0px;
		top: 0px;
		transition: all 0.2s;
		transform: rotate(0deg);
	}
}

.wt-publica-first-label {
	padding-right: 7em;
	position: relative;
	cursor: pointer;
	&:after {
		content: ' ';
		border-radius: 2px;
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		right: 0px;
		top: 0px;
		transition: all 0.2s;
		transform: rotate(0deg);
	}
}
input[type="radio"]:checked+label:before {
	color: $wt-primary-pig;
	content: '\f00c';
	font-family: FontAwesome;
	transform: rotate(360deg);
}
input[type="checkbox"]:checked+label:before {
	color: $wt-primary-pig;
	content: '\f00c';
	font-family: FontAwesome;
	transform: rotate(360deg);
	margin-right: .5em;
}
.typespace {
	input[type="radio"]:checked+label:before {
		content: '';
	}
	input[type="checkbox"]:checked+label:before {
		content: '';
	}
	input[type="radio"]:checked+label:after {
		color: $wt-primary-pig;
		content: '\f00c';
		font-family: FontAwesome;
		transform: rotate(360deg);
	}
	input[type="checkbox"]:checked+label:after {
		color: $wt-primary-pig;
		content: '\f00c';
		font-family: FontAwesome;
		transform: rotate(360deg);
	}
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.wt-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card-category {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .card-category-header {
	    background: #00c6e0;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    padding: 1em;
	    color: $wt-white;
	}
	.card-category-body {
	    padding: 1em;
	    input[type="text"] {
		    width: 100%;
		    padding: .5em;
		    border: 1px solid #dadada;
		}
		input[type="submit"]{
		    padding: .5em;
		    width: 100%;
		    background: #00c6e0;
		    margin-top: 1em;
		    border: 1px solid $wt-white;
		    border-radius: .4em;
		    color: $wt-white;
		}
	}
}

.publica-titles {
	color: rgba(33, 33, 33, 0.87);
}

.btn-publica-step-primary {
	width: 191px;
	height: 51px;
	background-color: $wt-primary-pig;
	border: none;
	color: $body-bg;
}

.btn-publica-step-default {
	width: 191px;
	height: 51px;
	background-color: $body-bg;
	border: none;
}

.label-publica {
  color: #333333;
  float: right;
  font-weight: bold;
}

.input-publica {
  width: 100%;
  padding: .5em;
  border: solid 1px #dadada;
  overflow: hidden;
}

.publica-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 0;
  &__left {
    width: 30%;
    padding-right: 3em;
  }
  &__rigth {
    width: 70%;
  }
}