.header-with {
	background-color: rgb(255, 255, 255);
	width: 100%;
	color: #333;
	position: relative;
	padding: 10px;
	.header-navbar {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.actions {
			margin-left: auto;
			margin-top: 0.5em;
			ul {
				list-style: none;
				li {
					float: left;
					padding: 1em;
					text-decoration: none;
					.actions__options, &:hover, &:focus {
						color: #333;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
	}
}