
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: rgba(240, 173, 78, 1);
$brand-danger:  #F34C60;

// Colores Wimet
$wt-white: rgba(255, 255, 255, 1);
$wt-grey: rgba(218, 218, 218, 1);
$wt-dark: rgba(0, 0, 0, 1);
$wt-dark-blue: rgba(37, 64, 80, 1);
$wt-background-principal: rgba(232, 83, 111, 1);
$wt-background-secondary: rgba(240, 240, 240, 1);
$wt-background-claro: rgba(239, 239, 239, 0.5);
$wt-text-principal: rgba(176, 172, 170, 1);
$wt-text-secondary: rgba(60, 60, 60, 1);
$wt-text-acent: rgba(234, 150, 165, 1);
$wt-text-dark: rgba(99, 107, 111, 1);
$wt-darck-blue: rgba(37, 64, 80, 1);

// Typography
$font-family-sans-serif: 'Roboto', Noto, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
